In [142]:
import numpy as np 
import pandas as pd

In [143]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [144]:
train.head(5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [145]:
Y_train = train.iloc[:,-1] 
Y_train

0       1
1       1
2       1
3       1
4       1
       ..
7608    1
7609    1
7610    1
7611    1
7612    1
Name: target, Length: 7613, dtype: int64

In [146]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
from nltk.stem import WordNetLemmatizer

In [147]:
wl = WordNetLemmatizer()

In [148]:
corpus=[]
text=[]
for comment in train.loc[:,'text']:
    comment = re.sub(r'(.)1+', r'1', comment)
    comment = re.sub('((http:\.+)|(www.[^s]+))','',comment) 
    comment=re.sub('[^a-zA-Z]',' ',comment)
    comment=comment.lower()
    comment=comment.split()
    text=text+comment
    comment=[wnl.lemmatize(word) for word in comment if word not in set(stopwords.words('english'))]
    comment=' '.join(comment)
    corpus.append(comment)

In [149]:
corpus[0]

'deed reason earthquake may allah forgive u'

In [150]:
from nltk.probability import FreqDist
fd = FreqDist()
for word in text:
    fd[word]+=1

In [151]:
fd

FreqDist({'t': 5315, 'co': 4741, 'http': 4309, 'the': 3286, 'a': 2307, 'in': 1991, 'to': 1952, 'i': 1876, 'of': 1833, 'and': 1426, ...})

In [152]:
fd_values = list(fd.values())
fd_values.sort(reverse=True)

In [153]:
len(fd_values)

22027

In [154]:
s=0
s1=sum(fqd_values)
iteration =1 
l=[]
for i in range(0,20000,200): 
    s=s+sum(fqd_values[i:i+200])
    print(f'for top {i+200} words {(s/s1)*100}% of data')
    l.append((s/s1)*100) 
    iteration+=1

for top 200 words 48.9223372165985% of data
for top 400 words 56.280381321015746% of data
for top 600 words 61.5299711968067% of data
for top 800 words 65.4520438171413% of data
for top 1000 words 68.36411469870045% of data
for top 1200 words 70.65400636543012% of data
for top 1400 words 72.53037187114919% of data
for top 1600 words 74.09300180681448% of data
for top 1800 words 75.39859537183335% of data
for top 2000 words 76.54845513581348% of data
for top 2200 words 77.56828473581953% of data
for top 2400 words 78.47547192633641% of data
for top 2600 words 79.28135654724555% of data
for top 2800 words 80.03734587267628% of data
for top 3000 words 80.77519145429667% of data
for top 3200 words 81.37998291464125% of data
for top 3400 words 81.98477437498582% of data
for top 3600 words 82.5895658353304% of data
for top 3800 words 83.09532269404356% of data
for top 4000 words 83.548916289302% of data
for top 4200 words 84.00250988456042% of data
for top 4400 words 84.45610347981886% of data
for top 4600 words 84.90969707507729% of data
for top 4800 words 85.30659147092842% of data
for top 5000 words 85.60898720110072% of data
for top 5200 words 85.91138293127301% of data
for top 5400 words 86.21377866144529% of data
for top 5600 words 86.5161743916176% of data
for top 5800 words 86.81857012178989% of data
for top 6000 words 87.12096585196217% of data
for top 6200 words 87.42336158213446% of data
for top 6400 words 87.72575731230675% of data
for top 6600 words 88.02815304247903% of data
for top 6800 words 88.33054877265133% of data
for top 7000 words 88.63294450282362% of data
for top 7200 words 88.79094627183865% of data
for top 7400 words 88.94214413692478% of data
for top 7600 words 89.09334200201093% of data
for top 7800 words 89.24453986709707% of data
for top 8000 words 89.39573773218322% of data
for top 8200 words 89.54693559726937% of data
for top 8400 words 89.69813346235551% of data
for top 8600 words 89.84933132744166% of data
for top 8800 words 90.00052919252781% of data
for top 9000 words 90.15172705761395% of data
for top 9200 words 90.30292492270009% of data
for top 9400 words 90.45412278778625% of data
for top 9600 words 90.60532065287238% of data
for top 9800 words 90.75651851795853% of data
for top 10000 words 90.90771638304467% of data
for top 10200 words 91.05891424813082% of data
for top 10400 words 91.21011211321695% of data
for top 10600 words 91.36130997830311% of data
for top 10800 words 91.51250784338924% of data
for top 11000 words 91.66370570847539% of data
for top 11200 words 91.81490357356155% of data
for top 11400 words 91.96610143864768% of data
for top 11600 words 92.11729930373383% of data
for top 11800 words 92.26849716881998% of data
for top 12000 words 92.41969503390612% of data
for top 12200 words 92.57089289899227% of data
for top 12400 words 92.72209076407842% of data
for top 12600 words 92.87328862916455% of data
for top 12800 words 93.02448649425071% of data
for top 13000 words 93.17568435933684% of data
for top 13200 words 93.32688222442299% of data
for top 13400 words 93.47808008950913% of data
for top 13600 words 93.62927795459528% of data
for top 13800 words 93.78047581968143% of data
for top 14000 words 93.93167368476757% of data
for top 14200 words 94.08287154985372% of data
for top 14400 words 94.23406941493985% of data
for top 14600 words 94.38526728002601% of data
for top 14800 words 94.53646514511215% of data
for top 15000 words 94.68766301019829% of data
for top 15200 words 94.83886087528444% of data
for top 15400 words 94.99005874037059% of data
for top 15600 words 95.14125660545673% of data
for top 15800 words 95.29245447054288% of data
for top 16000 words 95.44365233562903% of data
for top 16200 words 95.59485020071517% of data
for top 16400 words 95.74604806580132% of data
for top 16600 words 95.89724593088745% of data
for top 16800 words 96.0484437959736% of data
for top 17000 words 96.19964166105974% of data
for top 17200 words 96.35083952614589% of data
for top 17400 words 96.50203739123204% of data
for top 17600 words 96.65323525631818% of data
for top 17800 words 96.80443312140432% of data
for top 18000 words 96.95563098649048% of data
for top 18200 words 97.10682885157662% of data
for top 18400 words 97.25802671666276% of data
for top 18600 words 97.40922458174892% of data
for top 18800 words 97.56042244683505% of data
for top 19000 words 97.7116203119212% of data
for top 19200 words 97.86281817700734% of data
for top 19400 words 98.01401604209349% of data
for top 19600 words 98.16521390717963% of data
for top 19800 words 98.31641177226578% of data
for top 20000 words 98.46760963735191% of data

In [155]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=4000)
train = tfidf.fit_transform(corpus).toarray()

In [156]:
train.shape

(7613, 4000)

In [158]:
tweets1 = []
for st in test.loc[:,'text']:  
    st = re.sub(r'(.)1+', r'1', st)
    st = re.sub('((http:\.+)|(www.[^s]+))','',st) 
    st = re.sub('[^a-zA-Z]',' ',st) 
    st = st.split(' ')
    st = [wl.lemmatize(i) for i in st if i not in set(stopwords.words('english'))] 
    st = ' '.join(st) 
    tweets1.append(st)  
tweets1[0:5]

['Just happened terrible car crash',
 'Heard  earthquake different city  stay safe everyone ',
 'forest fire spot pond  goose fleeing across street  I cannot save',
 'Apocalypse lighting   Spokane  wildfire',
 'Typhoon Soudelor kill    China Taiwan']

In [159]:
test = tfidf.transform(tweets1) 
test = test.toarray()

In [160]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=2000)

In [162]:
from sklearn.model_selection import cross_val_score
cross_val_score(lr,train,Y_train).mean()

0.7064294915543791

In [168]:
lr.fit(train,Y_train)
Y_prediction = lr.predict(test)

In [169]:
result = pd.read_csv("result.csv")

In [170]:
result['target']=Y_prediction

In [171]:
result.head(5)

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1